body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.2s ease, color 0.2s ease;
}

body.light{
  --bg-color: #ffffff;
  --text-color: #111111;
  --card-color: #f8f8f8;
  --heading-color: purple
}

body.dark {
  --bg-color: #1e1e1e;
  --text-color: #f1f1f1;
  --card-color: #2b2b2b;
  --heading-color: white
}

